@charset "UTF-8";

/* Aprendemos usar o 'span' Funcionamento: Em vez de usar 1 / 4 para ir da coluna 1 à 4, usa-se 1 / span 3 (começa na 1 e ocupa 3 espaços). */

.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.caixa1 {
    background-color: red;
    grid-row: 1 / span 1;
    grid-column: 1 / span 4;
}

.caixa2 {
    background-color: green;
    grid-row: 2 / span 2;
    grid-column: 1 / span 2;
}

.caixa3 {
    background-color: blue;
    grid-row: 2 / span 2;
    grid-column: 3 / span 2;
}