@charset "UTF-8";

/*Todas as demais mídias*/

/*Typical Device Breakpoints essa base é de 2023
Pequenas telas: até 600px
Celular: de 600px até 468px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media print { /*Impressão*/
    body {
        background-image: url(../imagens/back-print.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: block;}
    img#pc {display: none;}
    img#tv {display: none;}

}

@media screen and (min-width: 768px) and (max-width: 992px) { /*tablet*/
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: block;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: none;}
}

    @media screen and (min-width: 992px) and (max-width: 1200px) { /*Desktop*/
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: block;}
    img#tv {display: none;}
}

    @media screen and (min-width: 1200PX) { /*Grandes telas*/
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: block;}
}
