@charset "UTF-8";

/*Podemos simplificar o código, em vez de usar 'grid-row-start' 'grid-row-end' 'grid-column-start' grid-column-end, usamos 'grid-row: 1 / 2;' 'grid-column: 1 / 5;' */

/*Podemos simplificar ainda mais, está no exgrid05*/

.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.caixa1 {
    background-color: red;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;

 /* grid-row: 1 / 2; */
 /* grid-column 1 / 5; */

}

.caixa2 {
    background-color: green;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;

 /* grid-row: 2 / 4; */
 /* grid-column 1 / 3; */
}

.caixa3 {
    background-color: blue;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;

 /* grid-row: 2 / 4; */
 /* grid-column 3 / 5; */
}